{% extends 'users/base.html' %}
{% load static %}
{% load socialaccount %}
{% load account %}

{% block content %}
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <div class="card">
            <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                        <legend   style="text-align: center; font-weight: bold; padding-top: 2%; padding-bottom: 2%">Welcome to Pixgalary</legend>

                        <div class="form-group">
                          <center>
                          <input type="text" style="width: 80%; border-radius:16px; min-height:48px; padding: 8px 16px" name="username" class="form-control" placeholder="Username" required>
                          </center>
                        </div>

                        <div class="form-group">
                          <center>
                          <input type="password" style="width: 80%; border-radius:16px; min-height:48px; padding: 8px 16px" name="password" class="form-control" placeholder="Password" required>
                          </center>
                        </div>

                        <div class="form-group">
                            <center>
                            <input class="btn btn-primary" type="submit" value="Login" style="background-color :#e60023; font-size:15px; font-weight: bold; text-align: center; border-radius:20px; height: 40px; width: 80%; border: None">
                            </center>
                        </div>
                         <small class="text-muted ml-2">
                            <a href="{% url 'password_reset' %}" style="font-size: 16px; margin-left: 50px; color: black; font-weight: bold; text-decoration: none">Forgot Password?</a>
                         </small>
                        <p style="text-align: center; font-weight: bold">Or</p>
                        <center>
                            <a class="loginBtn loginBtn--facebook" style="color: white" href="{% provider_login_url 'facebook' %}">
                                Login with Facebook
                            </a>
                        </center>
                        <center>
                            <a class="loginBtn loginBtn--google" style="color: white" href="{% provider_login_url 'google' %}">
                              Login with Google
                            </a>
                        </center>
                        <p style="text-align: center">By continuing, you agree to Pinterest's <b>Terms of</b></p>
                        <p style="text-align: center; margin-left: 3%"><b>Service</b> and acknowledge that you've read our <b>Privacy Policy</b></p>

                        <center>
                            <div class="field">
                              Don't have an account ? <a href="{% url 'register' %}">Sign Up</a>
                            </div>
                        </center>
                        </fieldset>
            </form>
            </div>

        </div>
        <div class="col-sm-3">
        </div>
    </div>
{% endblock content %}