{% extends 'users/base.html' %}
{% load static %}

{% block content %}

    <div class="text-center">
         <img class="rounded-circle article-img pinboard-profile-img" src="{{ url }}" alt="">
         <h3><b>{{ view.kwargs.username }}</b></h3>
         <p><b>{{ session_following.another_user.count }}</b> Following &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ followers.count }}</b> Followers</p>
    </div>
    <br><br>

    <div class="text-center mb-5">
       <div id="myDIV">
            <a href="#" class="board-btn active">Saved</a>
            <a href="{% url 'user-board' user_name %}" class="board-btn">Created</a>
       </div>
    </div>

    <div class="row">
        <section id="pinBoot">
          {% for pin in saved_pins %}
              <article class="white-panel">
                  <a href="{% url 'pin-detail' pin.pin.id %}">
                      <img src="{{ pin.pin.image.url }}" class="" alt="">
                  </a>
                  <a href="#" class="save-btn">Save</a>
              </article>
          {% endfor %}
        </section>
    </div>

{% endblock content %}
