{% extends 'users/base.html' %}
{% load static %}

{% block content %}

    <div class="text-center">
         <img class="rounded-circle article-img pinboard-profile-img" src="{{ url }}" alt="">
         <h3><b>{{ view.kwargs.username }}</b></h3>
         <p><b>{{ session_following.another_user.count }}</b> Following &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ followers.count }}</b> Followers</p>
    </div>
    <br><br>

    <div class="text-center mb-5">
       <div id="myDIV">
            <a href="#" class="board-btn active">Saved</a>
            <a href="{% url 'user-board' user_name %}" class="board-btn">Created</a>
       </div>
    </div>

    <div class="row">
        <section id="pinBoot">
          {% for pin in saved_pins %}
              <article class="white-panel">
                  <a href="{% url 'pin-detail' pin.pin.id %}">
                      <img src="{{ pin.pin.image.url }}" class="" alt="">
                  </a>
                  <a href="#" class="save-btn">Save</a>
              </article>
          {% endfor %}
        </section>
    </div>

    <hr>

    <h1>Your Boards</h1>

    <br><br>

    <div class="row">
        {% for board in user_boards %}
            <div class="col-sm-3" style="padding: 0 30px;">
                <a href="#">
                <div class="row">
                  <div class="col-sm" style="padding-left: 0; padding-right: 0;">
                      {% if board.image1 %}
                        <img class="card-img-top" src="{{ board.image1.url }}" alt="" style="max-width: 100%; height: 100%; border: 1px solid white;">
                      {% else %}
                          <img class="card-img-top" src="" alt="" style="max-width: 100%; height: 100%; border: 1px solid white;">
                      {% endif %}

                  </div>

                  <div class="col-sm" style="padding-left: 0; padding-right: 0;">
                      {% if board.image2 %}
                        <img class="card-img-top" src="{{ board.image2.url }}" alt="" style="max-width: 100%; height: 100%; border: 1px solid white;">
                      {% else %}
                          <img class="card-img-top" src="" alt="" style="max-width: 100%; height: 100%; border: 1px solid white;">
                      {% endif %}

                  </div>
                </div>

                <div class="row">
                  <div class="col-sm" style="padding-left: 0; padding-right: 0;">
                      {% if board.image3 %}
                        <img class="card-img-top" src="{{ board.image3.url }}" alt="" style="max-width: 100%; height: 100%; border: 1px solid white;">
                      {% else %}
                          <img class="card-img-top" src="" alt="" style="max-width: 100%; height: 100%; border: 1px solid white;">
                      {% endif %}

                  </div>

                  <div class="col-sm" style="padding-left: 0; padding-right: 0;">
                      {% if board.image4 %}
                        <img class="card-img-top" src="{{ board.image4.url }}" alt="" style="max-width: 100%; height: 100%; border: 1px solid white;">
                      {% else %}
                          <img class="card-img-top" src="" alt="" style="max-width: 100%; height: 100%; border: 1px solid white;">
                      {% endif %}

                  </div>
                </div>
                <p class="text-center" style="text-decoration: none; font-weight: bold; color: #333333">{{ board.title }}</p>
                </a>
            </div>
        {% endfor %}

    </div>

{% endblock content %}
