{% extends 'users/base.html' %}
{% load static %}

{% block content %}

    <div class="text-center">
         <img class="rounded-circle article-img pinboard-profile-img" src="{{ url }}" alt="">
         <h3><b>{{ view.kwargs.username }}</b></h3>
         <p><b>{{ followers }}</b> Following &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ count_following }}</b> Followers</p>
    </div>
    <br><br>

    <div class="text-center mb-5">
       <div id="myDIV">
            <a href="{% url 'user-save-board' user_name %}" class="board-btn">Saved</a>
            <a href="#" class="board-btn active">Created</a>
       </div>
    </div>

    <div class="row">
        <section id="pinBoot">

          {% for pin in pins %}
              <article class="white-panel">
                  <a href="{% url 'pin-detail' pin.id %}">
                      <img src="{{ pin.image.url }}" class="" alt="">
                  </a>
              </article>
          {% endfor %}

        </section>
    </div>

{% endblock content %}
