{% extends 'users/base.html' %}
{% load static %}

{% block content %}
    <div class="card" style="border-radius: 20px;">
        <div class="row" style="">
            <div class="col-md-6" >
                <img src="{{ object.image.url }}" alt="" style="border: 8px solid white; border-radius: 20px;">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                  <div>
                    {% if object.user == user %}

                        <a href="{% url 'pin-update' object.id %}" class="btn btn-secondary btn-sm mt-1 mb-1">Update</a>
                        <a href="{% url 'pin-delete' object.id %}" class="btn btn-danger btn-sm mt-1 mb-1">Delete</a>

                        <div class="float-right fb-share-button" data-href="https://pixgalary.herokuapp.com/pin/{{ object.id }}/" data-layout="button" data-size="small">
                              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fpixgalary.herokuapp.com%2Fpin%2F6%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
                                  Share</a>
                          </div>

                          <div class="float-right mt-1 mr-2">
                              <a target="_blank" class="twitter-share-button mt-1" data-href="https://pixgalary.herokuapp.com/pin/{{ object.id }}/"
                                  href="https://twitter.com/intent/tweet?text=Plz%20Check"
                                  data-size="small">Tweet</a>
                          </div>

                    {% endif %}

                  </div>

                    {% if object.user != user and user.is_authenticated %}
                      {% if saved %}

                        <div>
                          <a href="{% url 'save-pin' object.id %}" class="btn btn-secondary btn-sm mt-1 mb-1">Unsave</a>

                          <div class="float-right fb-share-button" data-href="https://pixgalary.herokuapp.com/pin/{{ object.id }}/" data-layout="button" data-size="small">
                              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fpixgalary.herokuapp.com%2Fpin%2F6%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
                                  Share</a>
                          </div>

                          <div class="float-right mt-1 mr-2">
                              <a target="_blank" class="twitter-share-button mt-1" data-href="https://pixgalary.herokuapp.com/pin/{{ object.id }}/"
                                  href="https://twitter.com/intent/tweet?text=Plz%20Check"
                                  data-size="small">Tweet</a>
                          </div>
                        </div>

                      {% else %}

                        <div>
{#                          <a href="{% url 'save-pin' object.id %}" class="btn btn-primary btn-sm mt-1 mb-1">Save</a>#}
                          <button style="background-color: #efefef; border: none; color: black; border-radius: 20px" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            SAVE
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonn">
                             <a class="dropdown-item" href="{% url 'save-pin' object.id %}">Save to your pinboard</a>
                              {% for choice in board_choices %}
                                  <a class="dropdown-item" href="{% url 'save-to-board' object.id choice.id %}">{{ choice.title }}</a>
                              {% endfor %}
                             <a class="dropdown-item" href="{% url 'board-create' %}">+Create Board</a>
                          </div>

                          <div class="float-right fb-share-button" data-href="https://pixgalary.herokuapp.com/pin/{{ object.id }}/" data-layout="button" data-size="small">
                              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fpixgalary.herokuapp.com%2Fpin%2F6%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
                                  Share</a>
                          </div>

                          <div class="float-right mt-1 mr-2">
                              <a target="_blank" class="twitter-share-button mt-1" data-href="https://pixgalary.herokuapp.com/pin/{{ object.id }}/"
                                  href="https://twitter.com/intent/tweet?text=Plz%20Check"
                                  data-size="small">Tweet</a>
                          </div>
                        </div>

                      {% endif %}
                    {% endif %}

                    <h2 class="card-title" style="margin-top: 30px">{{ object.title }}</h2>
                    <p style="margin-top: 20px">{{ object.description }}</p>
                    <img class="rounded-circle article-img" src="{{ object.user.profile.image.url }}" alt="">
                    <a href="{% url 'user-board' object.user.username %}" style="color: black; font-weight: bold; margin-left: 10px;">{{ object.user }}</a>
                    {% if object.user != user and user.is_authenticated %}
                        {% if is_followed %}
                            <a href="{% url 'follow-user' object.user.username %}" class="btn btn-secondary" style="margin-left:200px;">Unfollow</a>
                        {% else %}
                            <a href="{% url 'follow-user' object.user.username %}" class="btn btn-primary" style="margin-left:200px;">Follow</a>
                        {% endif %}
                    {% endif %}
                    <br>


                    {# Comments section #}
                    <br>
                    <h3>Comments..</h3>

                    {% if not object.comments.all %}
                        No Comments Yet...
                    {% else %}
                        {% for comment in object.comments.all %}
                            <div class="mt-3" style="border: 1px solid gray; border-radius: 20px; padding: 10px 0 10px 10px;">
                                <img class="rounded-circle" src="{{ comment.name.profile.image.url }}" alt="" style="height: 45px; width: 45px; float: left;">
                                <div class="ml-3" style="display: inline;">
                                <strong>
                                    {{ comment.name }}
                                    {{ comment.date_added }}
                                </strong>
                                <br>
                                </div>
                                <div class="ml-3" style="display: inline;">
                                {{ comment.body }}
                                </div>
                            </div>

                        {% endfor %}
                    {% endif %}

                    <form method="POST" action="{% url 'pin-add-comment' object.id %}" class="mt-5">
                        {% csrf_token %}
                        <div class="form-group">
                            <img class="rounded-circle" src="{{ request.user.profile.image.url }}" alt="" style="height: 45px; width: 45px;">
                            {{ form.body }}
                        </div>
                        <button class="btn btn-primary btn-sm" type="submit">Add</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}
