{% extends 'users/base.html' %}
{% load static %}

{% block content %}
    <div class="card" style="border-radius: 20px;">
        <div class="row" style="">
            <div class="col-md-6" >
                <img src="{{ object.image.url }}" alt="" style="border: 8px solid white; height: 100%;">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                  <div>
                    {% if object.user == user %}

                        <a href="{% url 'pin-update' object.id %}" class="btn btn-secondary btn-sm mt-1 mb-1">Update</a>
                        <a href="{% url 'pin-delete' object.id %}" class="btn btn-danger btn-sm mt-1 mb-1">Delete</a>

                    {% endif %}

                      <div class="fb-share-button" data-href="http://pixgalary.herokuapp.com/pin/{{ object.id }}/" data-layout="button" data-size="large">
                          <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fpixgalary.herokuapp.com%2Fpin%2F6%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
                              Share
                          </a>
                      </div>

                      <a target="_blank" class="twitter-share-button mt-1" data-href="http://127.0.0.1:8000/pin/{{ object.id }}/"
                          href="https://twitter.com/intent/tweet?text=Plz%20Check"
                          data-size="small">Tweet
                      </a>
                  </div>

                    {% if object.user != user and user.is_authenticated %}
                      {% if saved %}

                        <div>
                          <a href="{% url 'save-pin' object.id %}" class="btn btn-secondary btn-sm mt-1 mb-1">Unsave</a>
                        </div>

                      {% else %}

                        <div>
                          <a href="{% url 'save-pin' object.id %}" class="btn btn-primary btn-sm mt-1 mb-1">Save</a>
                        </div>

                      {% endif %}
                    {% endif %}

                    <h2 class="card-title">{{ object.title }}</h2>
                    <p>{{ object.description }}</p>
                    <img class="rounded-circle article-img" src="{{ object.user.profile.image.url }}" alt="">
                    <a href="{% url 'user-board' object.user.username %}" style="color: black; font-weight: bold;">{{ object.user }}</a>
                    {% if object.user != user and user.is_authenticated %}
                        {% if is_followed %}
                            <a href="{% url 'follow-user' object.user.username %}" class="btn btn-secondary" style="margin-left:200px;">Unfollow</a>
                        {% else %}
                            <a href="{% url 'follow-user' object.user.username %}" class="btn btn-primary" style="margin-left:200px;">Follow</a>
                        {% endif %}
                    {% endif %}
                    <br>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}
