{% extends 'users/base.html' %}
{% load static %}

{% block content %}
{#    <h1>Welcome Home</h1>#}
  <div class="row">

    {% if today_pins.count == 0 %}
        <h1>No Pins added today</h1>
    {% endif %}

    <section id="pinBoot">

      {% for pin in today_pins %}

          <article class="white-panel">
              <a href="{% url 'pin-detail' pin.id %}">
                  <img src="{{ pin.image.url }}" class="" alt="">
              </a>
{#              <a href="" class="save-btn">Save</a>#}
          </article>

      {% endfor %}

    </section>

  </div>

{% endblock content %}
